.container {
    display: flex;
    padding: 12px 60px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    width: 90%;
    background: rgba(255, 255, 255, 1);
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgba(0,0,0,.0975);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    align-items: center;
    justify-content: center;
}