.container {
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    top: 80px;
    right: 5%;
    height: 70%;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    justify-content: end;
}

.header {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fb530f;
    border-radius: 8px;
    width: 100%;
    color: white;
    padding: 12px;
}

.header h1 {
    font-size: 26px;
    color: white;
}

.header span {
    position: absolute;
    right: 20px;
    top: 14px;
    font-size: 22px;
    color: #ffcebb;
}

.description {
    margin-top: 12px;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.description p {
    padding: 12px;
    font-size: 18px;
}