.container {
    padding: 14px;
    position: relative;
}

.container:hover {
    cursor: pointer;
}

.container h1 {
    font-size: 20px;
}

.container span {
    position: absolute;
    color: #303030;
    right: 14px;
    top: 20px;
}