.container {
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    top: 80px;
    left: 5%;
    height: 70%;
    width: 300px;
    background: rgba(255, 255, 255, 1);
    margin-right: auto;
    margin-left: auto;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    justify-content: end;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #fb530f;
    width: 100%;
    color: white;
    font-size: 26px;
    padding: 6px;
}

.content {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}