.topbar {
    width: 90%;
    height: 60px;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
    border-right: 1px solid rgba(0,0,0,.0975);
    border-bottom: 1px solid rgba(0,0,0,.0975);
    border-left: 1px solid rgba(0,0,0,.0975);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 2;
    align-items: center;
}

.hamburger {
    margin-top: 20px;
    width: 40px;
    height: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #2a75b7;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.open {}

.hamburger p {
    color: #2a75b7;
    position: absolute;
    top: 36px;
    opacity: 1;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 3.5px;
}

.hamburger span:nth-child(2),.hamburger span:nth-child(3) {
    top: 17.5px;
}

.hamburger span:nth-child(4) {
    top: 31.5px;
}

.hamburger.open p {
    opacity: 0;
}

.hamburger.open span:nth-child(1) {
    top: 14px;
    width: 0%;
    left: 50%;
}

.hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
    top: 14px;
    width: 0%;
    left: 50%;
}

.contentContainer {
    min-height: 100vh;
}

.topbarElements {
    display: inline-flex;
    align-items: center;
}

.topbarTabButton {
    color: black;
    display: inline-flex;
    align-items: center;
    padding: 0px 16px;
    height: 100%;
    font-size: 16px;
    transition: background-color .15s;
    cursor: pointer;
    height: 50px;
}

.topbarTabButton:hover {
    color: #2a75b7;
    background-color: whitesmoke;
    border-bottom: 2px solid #2a75b7;
}

.topbarTabButton.selected {
    border-bottom: 2px solid #2a75b7;
}

.userTab {
    transition: background-color .15s;
    height: 100%;
    cursor: pointer;
}

.userTab:hover {
    color: #2a75b7;
    background-color: whitesmoke;
}

.selected {}

footer {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    border-top: 1px solid rgba(0,0,0,.0975);
    background: white;
}