﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Journey</title>
    <script>
        const providedAuthKey = @Session["AuthKey"]
    </script>
</head>
<body>
    <div id="root">

    </div>

    <script></script>
</body>
</html>
